/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 549px;

// Small tablets (portrait view)
$screen-md-min: 741px;

// Tablets and small desktops
$screen-lg-min: 950px;

// Large tablets and desktops
$screen-xl-min: 1176px;

// Colors
$white: #fff;
$black: #000;
$background: #262626;
$nav-background: #151515;
$orange: #D56B26;
$blue: #7FD9E6;
