/* =============
    Base
============= */
h1, h2, h3, h4, h5, p, figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}


.project-grid{
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: 10px auto 10px;
    >div{
        grid-area: content;
    }
}
