#endure-stars {
    background-color: $background;

    button {
        animation: none;
        background-color: $background;
        background-color: transparent;
        border: none;
        outline: none;

        div {
            background-image: url("../img/nav/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 35px;
            margin: 10px 0;
            width: 40px;
        }
    }

    #off-canvas-container {
        div {
            #nav-container {
                nav {
                    ul {
                        li {
                            font-size: rem-calc(20);
                            @include md {
                                font-size: rem-calc(24);
                            }
                            @include lg {
                                font-size: rem-calc(30);
                            }
                        }

                        li:nth-child(2) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/village_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(3) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/endure_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(4) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/rain_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#endure-hero {
    background-color: $background;
    background-image: url("../img/games/endure_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    margin-top: 55px;
    width: 100%;
    @include sm {
        height: 180px;
    }
    @include md {
        height: 240px;
    }
    @include lg {
        height: 300px;
    }
    @include xl {
        height: 390px;
    }
}

#endure-content {
    background-color: $background;
    margin-bottom: 40px;
    text-align: justify;
    @include xl {
        display: grid;
        grid-template-areas: ". endure-content .";
        grid-template-columns: auto 1100px auto;
    }

    div {
        @include xl {
            grid-area: endure-content;
        }

        p {
            color: $white;
            line-height: rem-calc(24);
            @include sm {
                font-size: rem-calc(18);
                line-height: rem-calc(28);
            }
            @include md {
                font-size: rem-calc(20);
                line-height: rem-calc(33);
            }
            @include lg {
                font-size: rem-calc(24);
                line-height: rem-calc(38);
                text-align: left;
            }
        }

        p:nth-child(2) {
            @include md {
                width: 55%;
            }
        }

        p:nth-child(4) {
            @include md {
                width: 85%;
            }
            @include lg {
                text-align: right;
                width: 100%;
            }
        }

        figure {
            background-image: url("../img/games/endure_board.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 240px;
            margin: 10px 0;
            width: 100%;
            @include sm {
                height: 310px;
            }
            @include md {
                height: 420px;
                margin-bottom: 10px;
            }
            @include lg {
                height: 525px;
            }
            @include xl {
                height: 650px;
                margin: -40px 0 20px;
            }
        }

        aside {
            display: flex;
            justify-content: center;

            button {
                font-size: rem-calc(25);
                margin: 20px 0;
                @include sm {
                    font-size: rem-calc(30);
                }
                @include lg {
                    font-size: rem-calc(35);
                }

                a {
                    border: 1px $white solid;
                    border-radius: 10px;
                    color: $white;
                    padding: 10px;
                }

                a:active,
                a:hover {
                    border-color: $orange;
                    color: $orange;
                }
            }
        }
    }
}
