#gallery {
    background-color: $background;

    main {
        background-color: $background;
        @include lg {
            display: grid;
            grid-template-areas: ". concepts figures .";
            grid-template-columns: 5% auto auto 5%;
        }
    }

    button {
        animation: none;
        background-color: $background;
        background-color: transparent;
        border: none;
        outline: none;

        div {
            background-image: url("../img/nav/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 35px;
            margin: 10px 0;
            width: 40px;
        }
    }

    #off-canvas-container {
        div {
            #nav-container {
                nav {
                    ul {
                        li {
                            font-size: rem-calc(20);
                            @include md {
                                font-size: rem-calc(24);
                            }
                            @include lg {
                                font-size: rem-calc(30);
                            }
                        }

                        li:nth-child(2) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/village_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(3) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/endure_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(4) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/rain_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#concept {
    background-color: $background;
    margin-top: 25px;
    @include lg {
        grid-area: concepts;
    }

    div {
        h1 {
            color: $white;
            font-size: rem-calc(24);
            letter-spacing: rem-calc(4);
            text-align: center;
        }

        aside {
            display: flex;
            justify-content: center;

            button {
                font-size: rem-calc(20);
                margin-bottom: 20px;
                @include sm {
                    font-size: rem-calc(25);
                }
                @include lg {
                    font-size: rem-calc(30);
                }

                a {
                    border: 1px $white solid;
                    border-radius: 10px;
                    color: $white;
                    padding: 10px;
                }

                a:active,
                a:hover {
                    border-color: $orange;
                    color: $orange;
                }
            }
        }

        ul {
            margin-top: 20px;
            @include md {
                display: grid;
                grid-gap: 20px;
                grid-template-areas: "figure-1 figure-2 figure-3";
                grid-template-columns: repeat(3,1fr);
            }
            @include lg {
                display: block;
            }

            li {
                margin: 20px 0;
            }

            li:nth-child(1) {
                background-image: url("../img/gallery/concept/concept_1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: figure-1;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }

            li:nth-child(2) {
                background-image: url("../img/gallery/concept/concept_2.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: figure-2;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }

            li:nth-child(3) {
                background-image: url("../img/gallery/concept/concept_3.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: figure-3;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }
        }
    }
}

#miniatures {
    background-color: $background;
    padding-top: 45px;
    @include lg {
        grid-area: figures;
        margin-top: 25px;
        padding-top: 0;
    }

    div {
        h1 {
            color: $white;
            font-size: rem-calc(24);
            letter-spacing: rem-calc(4);
            text-align: center;
        }

        aside {
            display: flex;
            justify-content: center;

            button {
                font-size: rem-calc(20);
                margin-bottom: 20px;
                @include sm {
                    font-size: rem-calc(25);
                }
                @include lg {
                    font-size: rem-calc(30);
                }

                a {
                    border: 1px $white solid;
                    border-radius: 10px;
                    color: $white;
                    padding: 10px;
                }

                a:active,
                a:hover {
                    border-color: $orange;
                    color: $orange;
                }
            }
        }

        ul {
            margin-top: 20px;
            @include md {
                display: grid;
                grid-gap: 20px;
                grid-template-areas: "mini-1 mini-2 mini-3";
                grid-template-columns: repeat(3,1fr);
            }
            @include lg {
                display: block;
            }

            li {
                margin: 20px 0;
            }

            li:nth-child(1) {
                background-image: url("../img/gallery/miniatures/mini_1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: mini-1;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }

            li:nth-child(2) {
                background-image: url("../img/gallery/miniatures/mini_2.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: mini-2;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }

            li:nth-child(3) {
                background-image: url("../img/gallery/miniatures/mini_3.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 450px;
                width: 100%;
                @include md {
                    grid-area: mini-3;
                    height: 300px;
                }
                @include lg {
                    height: 700px;
                }
            }
        }
    }
}
