#home-page {
    button {
        background-color: $background;
        border: none;
        outline: none;
        width: 100vw;

        div {
            align-items: center;
            display: flex;
            justify-content: center;

            figure {
                background-image: url("../img/nav/full_logo.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 50px;
                padding-top: 50vh;
                width: 350px;
                @include sm {
                    height: 100px;
                    width: 450px;
                }
                @include md {
                    height: 150px;
                    width: 575px;
                }
                @include lg {
                    height: 200px;
                    width: 700px;
                }
                @include xl {
                    height: 250px;
                    width: 800px;
                }
            }
        }

        h1 {
            color: $white;
            letter-spacing: rem-calc(4);
            @include md {
                font-size: rem-calc(44);
            }
        }

        h1:active,
        h1:hover {
            color: $blue;
            transition: 0.5s;
        }
    }

    #off-canvas-container {
        div {
            #nav-container {
                nav {
                    ul {
                        li {
                            font-size: rem-calc(20);
                            @include md {
                                font-size: rem-calc(24);
                            }
                            @include lg {
                                font-size: rem-calc(30);
                            }
                        }

                        li:nth-child(2) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/village_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(3) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/endure_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }

                        li:nth-child(4) {
                            display: flex;
                            justify-content: center;

                            a {
                                background-image: url("../img/games/rain_logo.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85%;
                                @include sm {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
