/* =============
    Navigation
============= */
a:hover,
a:link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.25s;
}

#burger-icon {
    background-color: $nav-background;
    border: none;
    outline: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    div{
        figure{
            animation: 20s linear infinite, Pulsate 6s linear infinite;
        }
    }
}

@keyframes Pulsate {
  from { opacity: 1; }
  50% { opacity: 0.2; }
  to { opacity: 1; }
}

#burger-icon:hover {
    color: $white;
}



#off-canvas-container{
    /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */
    background-color: $nav-background;
    // padding-top: 20px;

    // width of the off canvas navigation
    width: 50vw;

    @include sm{
        width: 40vw;
    }
    @include md{
        width: 35vw;
    }
    @include xl{
        width: 400px;
    }


    /* close btn */
    div{
        button {
            background-color: $nav-background;
            border: none;
            color: $white;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            font-size: rem-calc(30);
            margin-bottom: 20px;
            transition: 0.25s;
            width: 100%;
        }
    }

    /* close btn */
    button:hover {
        color: $orange;
    }

    ul {
        li {
            margin-bottom: 10px;
            a:link,
            a:visited {
                color: $white;
            }

            a:active,
            a:hover {
                color: $orange;
            }
        }
    }
}
